# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo=pd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [12]:

chipo["item_price"]=chipo.item_price.str.replace('$',' ').astype(float)
chipo.item_price.dtype

dtype('float64')

In [17]:
chipo[chipo.item_price>10.0].head()

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [27]:
chipo[["item_name","item_price"]]
result=chipo.loc[:,["item_name","item_price"]]

### Step 6. Sort by the name of the item

In [28]:
result.sort_values("item_name")

              item_name  item_price
3389  6 Pack Soft Drink       12.98
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49
3422  6 Pack Soft Drink        6.49
553   6 Pack Soft Drink        6.49
1916  6 Pack Soft Drink        6.49
1922  6 Pack Soft Drink        6.49
1937  6 Pack Soft Drink        6.49
3836  6 Pack Soft Drink        6.49
298   6 Pack Soft Drink        6.49
1976  6 Pack Soft Drink        6.49
1167  6 Pack Soft Drink        6.49
3875  6 Pack Soft Drink        6.49
1124  6 Pack Soft Drink        6.49
3886  6 Pack Soft Drink        6.49
2108  6 Pack Soft Drink        6.49
3010  6 Pack Soft Drink        6.49
4535  6 Pack Soft Drink        6.49
4169  6 Pack Soft Drink        6.49
4174  6 Pack Soft Drink        6.49
4527  6 Pack Soft Drink        6.49
4522  6 Pack Soft Drink        6.49
3806  6 Pack Soft Drink        6.49
2389  6 Pack Soft Drink        6.49
3132  6 Pack Soft Drink        6.49
3141  6 Pack Soft Drink        6.49
639   6 Pack Soft Drink        6.49
1026  6 Pack Soft Drink        6.49
...                 ...         ...
2996       Veggie Salad        8.49
3163       Veggie Salad        8.49
4084       Veggie Salad        8.49
1694       Veggie Salad        8.49
2756       Veggie Salad        8.49
4201  Veggie Salad Bowl       11.25
1884  Veggie Salad Bowl       11.25
455   Veggie Salad Bowl       11.25
3223  Veggie Salad Bowl       11.25
2223  Veggie Salad Bowl        8.75
2269  Veggie Salad Bowl        8.75
4541  Veggie Salad Bowl        8.75
3293  Veggie Salad Bowl        8.75
186   Veggie Salad Bowl       11.25
960   Veggie Salad Bowl        8.75
1316  Veggie Salad Bowl        8.75
2156  Veggie Salad Bowl       11.25
4261  Veggie Salad Bowl       11.25
295   Veggie Salad Bowl       11.25
4573  Veggie Salad Bowl        8.75
2683  Veggie Salad Bowl        8.75
496   Veggie Salad Bowl       11.25
4109  Veggie Salad Bowl       11.25
738   Veggie Soft Tacos       11.25
3889  Veggie Soft Tacos       16.98
2384  Veggie Soft Tacos        8.75
781   Veggie Soft Tacos        8.75
2851  Veggie Soft Tacos        8.49
1699  Veggie Soft Tacos       11.25
1395  Veggie Soft Tacos        8.49

[4622 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [41]:
# chipo.item_price.value_counts()
chipo.sort_values(by = "item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [37]:
chipo.item_name.value_counts()["Veggie Salad Bowl"]

18

### Step 9. How many times people orderd more than one Canned Soda?

In [40]:
chipo.item_name.value_counts()["Canned Soda"]

104