# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [5]:
d={'evolution':['Iyysaur','Charmeleon','Wartotle','Metapod'],'hp':[45,39,44,45],'name':['Bulbasaur','Charmander','Squirtle','Caterpie'],
  'pokedox':['yes','no','yes','no'],'type':['grass','fire','water','bug']}
pd.DataFrame(data=d,columns=['evolution','hp','name','pokedox','type'])

    evolution  hp        name pokedox   type
0     Iyysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2    Wartotle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 3. Assign it to a variable called

In [8]:
pokemon=pd.DataFrame(data=d,columns=['evolution','hp','name','pokedox','type'])
pokemon

    evolution  hp        name pokedox   type
0     Iyysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2    Wartotle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [10]:
pokemon=pokemon[['name','type','hp','evolution','pokedox']]
pokemon

         name   type  hp   evolution pokedox
0   Bulbasaur  grass  45     Iyysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44    Wartotle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [11]:
pokemon['mind']=[1,2,3,4]
pokemon

C:\Users\Karthik\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

         name   type  hp   evolution pokedox  mind
0   Bulbasaur  grass  45     Iyysaur     yes     1
1  Charmander   fire  39  Charmeleon      no     2
2    Squirtle  water  44    Wartotle     yes     3
3    Caterpie    bug  45     Metapod      no     4

### Step 6. Present the type of each column

In [12]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedox      object
mind          int64
dtype: object

### BONUS: Create your own question and answer it.